In [1]:
import pandas as pd
import numpy as np

In [31]:
import pandas as pd 
import xml.etree.ElementTree as et 

xtree = et.parse("28-ex_xml_atu.xml")
xroot = xtree.getroot() 


# https://medium.com/@robertopreste/from-xml-to-pandas-dataframes-9292980b1c1c

In [12]:
# https://data.gov.ua/dataset/a2d6c060-e7e6-4471-ac67-42cfa1742a19/resource/e21a1e57-051c-46ea-9c8e-8f30de7d863d

In [26]:
col = ['OBL_NAME', 'REGION_NAME', 'CITY_NAME', 'CITY_REGION_NAME', 'STREET_NAME'] # RECORD

rows = []

for node in xroot: 
    
    s_name = node.attrib.get("name")
    
    s_mail = node.find("REGION_NAME").text if node is not None else None
    s_grade = node.find("CITY_NAME").text if node is not None else None
    s_age = node.find("CITY_REGION_NAME").text if node is not None else None
    street_name = node.find("STREET_NAME").text if node is not None else None
    
    rows.append({'REGION_NAME': s_mail, 'CITY_NAME': s_grade, 'CITY_REGION_NAME':s_age, \
                'STREET_NAME':street_name})

In [29]:
out_df = pd.DataFrame(rows, columns = col)

out_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500554 entries, 0 to 500553
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   OBL_NAME          0 non-null       float64
 1   REGION_NAME       398710 non-null  object
 2   CITY_NAME         493156 non-null  object
 3   CITY_REGION_NAME  412269 non-null  object
 4   STREET_NAME       419912 non-null  object
dtypes: float64(1), object(4)
memory usage: 19.1+ MB

In [30]:
out_df.groupby('STREET_NAME').count()

,OBL_NAME,REGION_NAME,CITY_NAME,CITY_REGION_NAME
STREET_NAME,,,,
"""30 лєт Побєди""мікрорайон",0,0,1,1
"""40"" квартал",0,0,1,0
"""60 років Жовтня"" садове товариство",0,1,1,1
"""Єдності"" Майдан",0,1,1,1
"""Аеропорт-Херсон"" територія (назва нечинна)",0,0,1,0
...,...,...,...,...
шоссе Львівське,0,1,1,1
шостий проїзд Верейського (назва нечинна),0,0,1,0
ім. Калініна сквер,0,0,1,0
ім.Тридцятиріччя Перемоги сквер,0,0,1,0
№2 відділок,0,1,1,1